.expense-form {
  h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
  }

  .button-area {
    padding-top: 1em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }

  .exchange-rate-field {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: stretch;
    justify-content: center;

    .lock-rate-button {
      font-size: 2rem;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--ui-accent);
      transition: all 0.2s ease-in-out;
      border: 0.1rem solid var(--ui-accent);
      border-radius: var(--ui-border-radius);

      &.active {
        color: var(--ui-primary);
        border-color: var(--ui-primary);
      }
    }
  }
}
