@use "forms";
@use "button";

:root {
  --ui-primary: #71c285;
  --ui-secondary: #f0c419;
  --ui-accent: #556080;
  --ui-border-radius: 8px;
  --ui-warn: #ff6060;
  --ui-dark: #111111;
  --ui-active-bg: #333333;
  --ui-shadow: #ffffff33;

  --ui-disabled-fg: #d4d4d4;
  --ui-disabled-bg: #616161;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", serif;
  font-size: 16px;
}

html,
body {
  color-scheme: dark;
  padding: 0;
  margin: 0;
}

.flex-spacer {
  flex: 1;
}

a {
  color: var(--ui-primary);
}

.uppercase {
  text-transform: uppercase;
}
