nav {
  padding: 0.8em;
  background-color: #111;
  height: 64px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.4em;
    font-size: 1.3em;

    li {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        color: var(--ui-primary);
        padding: 4px;

        &.active {
          color: white;
        }

        &:focus-visible {
          outline: 2px dashed white;
        }
      }
    }
  }
}
